* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  background-color: blueviolet;
}

.logo {
  font-weight: 800;
  font-size: 2em;
  color: purple;
  text-decoration: none;
  background-color: cyan;
}

header ul.navigation {
  list-style: none;
  position: relative;
}

header ul.navigation li {
  display: inline;
  margin-left: 10px;
}

header ul.navigation li a {
  text-decoration: none;
  font-size: 1.1em;
  padding: 8px 18px;
}

header ul.navigation li a.active,
header ul.navigation li a:hover {
  color: white;
  background-color: blue;
  border-radius: 30px;
}

/* content started*/
.content {
  position: relative;
}

.content .textbox {
  position: relative;
  max-width: 550px;
}

.content .textbox h2 {
  font-size: 3.5rem;
  color: rgb(180, 52, 116);
  margin-bottom: 15px;
}

.content .textbox p {
  font-size: 1.1rem;
}

.content .textbox a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: purple;
  color: white;
  padding: 8px 18px;
  border-radius: 30px;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

.content .textbox a:hover {
  background-color: blue;
}

.content .textbox a:active {
  transform: scale(0.96);
}

/* social media iamges */
.social-medial {
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-medial li {
  list-style: none;
  /* display: inline-block; */
}

.social-medial li a {
  position: relative;
  background-color: blue;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 30px;
  transition: 0.2s ease-in-out;
}

.social-medial li a img {
  filter: invert(1);
  transform: scale(0.5);
}

.social-medial li a:hover {
  background-color: purple;
  transform: scale(1.1);
}

.mosque {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 650px;
}
